doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
    script(src="https://kit.fontawesome.com/ac81471b85.js")
  body
    .header
      .search
        input.search__input
        .search__result
      .sign-in.sign-in--active Sign in
      .sign-out Sign Out
      .current-user-info
      .friendrequest-toggle Friend requests
        .friendrequest-badge
      .friendrequest-list
    .content
      .friend-popover(
        data-user-id = ""
      )
        .friend-popover__triangle
        .friend-popover__content
          .friend-popover__nickname
          .friend-popover__buttons
            button.button.button--message(
              data-behavior="message"
            ) Message
            button.button.button--remove-friend(
              data-behavior="remove"
            ) Remove
      .friend-list
      .room-list
      .chat(
        data-room-id=""
      )
        .chat__header
          .chat__room-info
            .chat__room-name
            .chat__room-detail
              .chat__user-icon
                i.fas.fa-user
              .chat__user-number
          .chat__room-option
            button.button.button--invite-user Invite
            button.button.button--leave-room Leave
        .chat__body
        .chat__footer
          form.chat__form(action="/")
            input.chat__input
    .modal.modal--auth
      .modal__dialog
        .modal__content.carousel
          .carousel__inner
            .carousel__item.auth
              .auth__header
                .auth__title Sign In
              .auth__body
                form.auth__form.form.form--sign-in
                  .form__member
                    input.form__input(
                      type="text"
                      name="email"
                      placeholder="email"
                      required
                    )
                  .form__member
                    input.form__input(
                      type="password"
                      name="password"
                      placeholder="password"
                      required
                    )
                  button.form__button.button.button--theme-round(type="submit") Sign in
              .carousel__slider.carousel__slider--next Sign up #{'>'}
            .carousel__item.auth
              .auth__header
                .auth__title Sign Up
              .auth__body
                form.auth__form.form.form--sign-up
                  .form__member
                    input.form__input(
                      type="text"
                      name="email"
                      placeholder="email"
                      required
                    )
                  .form__member
                    input.form__input(
                      type="password"
                      name="password"
                      placeholder="password"
                      required
                    )
                  .form__member
                    input.form__input(
                      type="text"
                      name="nickname"
                      placeholder="nickname"
                      required
                    )
                  button.form__button.button.button--theme-round(type="submit") Sign up
              .carousel__slider.carousel__slider--back #{'<'} Sign in
    .modal.modal--user-select
      .modal__dialog
        .modal__content.user-select
          .user-select__header Select User
          .user-select__selected-user-list
          .user-select__user-list
          .user-select__footer
            button.user-select__confirm-button.button confirm
    script(src=sdkurl)